.search-box {
  position: relative;
  width: 20rem;
  height: 2.5rem;
  overflow: hidden;
  box-shadow: $box-shadow-2;
  border-radius: 1.5rem;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background-color: $color-white;
    padding-left: 1rem;
    padding-right: 3rem;

    &:focus {
      outline: none;
    }
  }
  button {
    position: absolute;
    right: 0.5rem;
    top: 0;
    bottom: 0;
    border: none;
    background-color: $color-white;

    svg {
      font-size: 1.5rem;
    }
  }
}

//========== room page ==========
// room card
.room-card {
  box-shadow: $box-shadow-3;
  border-radius: 1rem 0 1rem 0;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
  position: relative;

  &:hover {
    transition: all 0.3s;
    box-shadow: none;
  }

  .dropdown {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    .dropdown-toggle {
      &.btn {
        border: none;
        background-color: transparent !important;
        padding: 0;
      }

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      .dropdown-item {
        &:active {
          background-color: $color-primary;
        }
      }
    }
  }

  .card-header {
    background-color: $color-room-card;
    border-radius: 1rem 0 0 0;
    padding: 1.5rem;
    cursor: pointer;

    h5 {
      color: $color-dark-2;
    }
    p {
      color: $color-gray;
    }
  }
  .card-footer {
    background-color: $color-white;
    border-radius: 0 0 1rem 0;
    padding-left: 1.5rem;
    border: none;

    p {
      color: $color-gray;
      display: flex;
      align-items: center;

      svg {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }
}

//room cover img
.cover-img {
  position: relative;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }
  img {
    width: 100%;
    height: 100%;
  }

  .room-code {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: $color-white;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 1px;

    svg {
      margin-right: 0.5rem;
    }
  }
}

// add button
.add-btn {
  width: 3rem;
  display: flex;
  justify-content: center;

  svg {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
      font-size: 1.6rem;
      color: $color-primary;
    }
  }
}

// room sidebar
.room-sidebar {
  // border: 1px solid black;

  padding: 1rem 0;
  box-shadow: $box-shadow-4;
  border-radius: 0.3rem;
  background-color: $color-white;

  li {
    padding: 0.3rem 0.3rem 0.3rem 1.5rem;

    &:hover {
      background-color: #f3f2f2;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: $color-dark-2;

      &:hover,
      &.active {
        color: $color-primary;
      }

      svg {
        margin-right: 1rem;
      }
    }
  }
}

// ============ Student table=========
.student-table {
  background-color: $color-white;
  border-radius: 0.3rem;
  box-shadow: $box-shadow-4;

  & > :not(:first-child) {
    border-top: 2px solid $color-primary-soft;
  }
  thead tr th {
    padding: 0.8rem 1rem;
    color: $color-dark-2;
    font-size: 1.1rem;
    text-transform: capitalize;

    span {
      text-transform: lowercase;
    }

    &:last-child {
      text-align: center;
    }
  }

  tbody {
    tr {
      td {
        padding: 1rem 1rem;
        color: $color-dark-2;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 500;

        &:first-child {
          padding: 0.5rem 1rem;
        }
        &:last-child {
          text-align: center;
        }

        img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          image-rendering: -webkit-optimize-contrast;
        }

        .remove-students {
          font-size: 1.1rem;
        }
      }
    }
  }
}

.student-request-table {
  & > :not(:first-child) {
    border-top: 2px solid $color-secondary;
  }

  tbody {
    tr {
      td {
        &:last-child {
          text-align: right;
        }

        .cancel-btn {
          background-color: $color-gray;
          color: $color-white;
        }

        .accept-btn {
          margin-left: 1rem;
          background-color: $color-primary-soft;
          background-color: $color-secondary;
        }
      }
    }
  }
}
//============= Notes ===========

// Note header
.note-header {
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  box-shadow: $box-shadow-3;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    // box-shadow: $box-shadow-2;
    box-shadow: none;
    border: 1px solid $color-primary;
    transition: all 0.2s;
  }

  h6 {
    font-weight: normal;
    text-transform: capitalize;
    color: $color-dark-2;

    svg {
      margin-right: 1rem;
    }
  }
}

// note header
.note-write-box {
  margin-bottom: 1.5rem;

  .fr-box {
    margin-bottom: 0.5rem;

    .fr-toolbar {
      border: none;
    }
    .fr-wrapper {
      border: none !important;
      background-color: rgb(247, 245, 245) !important;
    }
    .fr-second-toolbar {
      display: none;
    }
  }

  #pdfFile {
    margin-bottom: 1.5rem;
    border-color: rgb(231, 231, 231);

    &:focus {
      outline: none;
      border-color: rgb(231, 231, 231);
      box-shadow: none;
    }
  }

  button {
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-gray;
  }

  .cancel-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 1rem;
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
      background-color: rgb(231, 231, 231);
    }
  }

  .save-btn {
    border: none;
    outline: none;
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
      background-color: $color-primary-dark;
    }
  }
}

// Note card
.note-card {
  border-radius: 0.3rem;
  box-shadow: $box-shadow-1;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;

  p {
    small {
      color: $color-primary;
      // text-transform: capitalize;
      font-weight: 400;
    }
  }

  .note-card-description {
    p,
    span {
      color: $color-dark-2;
    }
  }

  h5 {
    margin-bottom: 0.3rem;
    text-transform: capitalize;
  }

  .note-card-file {
    box-shadow: $box-shadow-4;
    width: 20rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
    position: relative;

    &:hover {
      box-shadow: $box-shadow-2;
      transition: all 0.4s;

      svg {
        color: $color-gray;
      }
    }

    img {
      height: 100%;
      width: 15%;
      image-rendering: -webkit-optimize-contrast;
      margin-right: 0.5rem;
    }

    p {
      margin: 0;
      margin-right: 0.5rem;

      small {
        color: $color-gray !important;
      }
    }

    svg {
      font-size: 1.5rem;
      position: absolute;
      right: 0.5rem;
    }
  }
}

// =============== attendance =============

.attendace-page {
  border-radius: 0.3rem;
  box-shadow: $box-shadow-1;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  background-color: $color-white;

  .attendance-page-header {
    border-bottom: 1px solid $color-primary;

    .header-btn {
      border: none;
      outline: none;
      background-color: $color-white;
      padding: 0.3rem 1rem;
      margin-right: 1rem;
      color: $color-gray;
      font-weight: 500;
      border-radius: 0.2rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        border-bottom: 2px solid rgb(231, 231, 231);
        background-color: rgb(231, 231, 231);
      }

      &.active {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  .attendance-page-form {
    // padding: 2rem 0;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .select-class {
      border: none;
      outline: none;
      width: 10rem;
      padding: 0.3rem 0.5rem;
      border-radius: 0.2rem;
      box-shadow: $box-shadow-4;
      color: $color-dark-2;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    h6 {
      // font-weight: normal;
      margin: 0;
      color: $color-primary;
    }

    p {
      margin: 0;
    }
  }

  .history-table {
    .student-table {
      box-shadow: none;

      & > :not(:first-child) {
        border-top: 2px solid rgb(209, 207, 207);
      }

      .yes-icon {
        font-size: 1.2rem;
        color: $color-primary-soft;
      }
      .no-icon {
        font-size: 1.2rem;
        color: #ff4040;
      }
    }
  }

  .new-attendance {
    padding-top: 1rem;

    .student-table {
      box-shadow: none;

      & > :not(:first-child) {
        border-top: 2px solid rgb(209, 207, 207);
      }

      button {
        border: none;
        outline: none;
        width: 3.5rem;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
        color: $color-white;
      }

      .no-btn {
        background-color: #ff6347;
        transition: all 0.3s;

        &:hover {
          transition: all 0.3s;
          background-color: #f04b2e;
        }
      }

      .yes-btn {
        background-color: #00ff00;
        transition: all 0.3s;

        &:hover {
          background-color: #05ca05;
          transition: all 0.3s;
        }
      }
    }
  }
}

.student-history-table {
  .student-table {
    box-shadow: none;

    & > :not(:first-child) {
      border-top: 2px solid rgb(209, 207, 207);
    }

    td {
      color: $color-gray;
    }

    .yes-icon {
      font-size: 1.2rem;
      color: $color-primary-soft;
    }
    .no-icon {
      font-size: 1.2rem;
      color: #ff4040;
    }
  }
}

//======== modal ========

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 200;
  display: none;

  &.open {
    display: block;
  }
}
.modal {
  width: auto;
  height: auto;
  background-color: $color-white;
  z-index: 500;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  display: block;
  border-radius: 5px;
  transition: all 0.3s;
}

.modal-form {
  width: 25rem;

  h5 {
    color: $color-dark-2;
  }
  .form-group {
  }
  p {
    color: rgb(226, 46, 46);
    margin: 0;
  }
  button {
    width: 100%;
  }
}
